.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .footer__menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }
}