.link-transparency{
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
       -ms-transition-duration: 1s;
          transition-duration: 1s;
}
.link-transparency:hover{
  opacity: 0.8;
}
