.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 690px;
    
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .intro {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        
}


