.section_width_narrow {
    width: 984px;
    max-width: 984px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .section_width_narrow {
        width: calc(100% - 96px);
        min-width: 928px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .section_width_narrow {
        max-width: 928px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .section_width_narrow {
        max-width: 768px;
        width: 100%;
    }
}